@import "node_modules/bootswatch/dist/yeti/_variables.scss";

.form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: $primary 1px solid;
}
  